body {
  background: #eee;
  font-family: sans-serif;
  font-size: 16;
}

.card {
  width: 430px;
  background: #fff;
  margin: 16px auto;
  padding: 3px;
  padding-top: 10px;

}

.title {
  background: #e3f4ff;
  padding: 10px;
  margin: 10px;
}

.content {
  background: #e3f4ff;
  margin: 10px;
  padding: 20px 10px;
}

.button-container {
  text-align: center;
  background: #e3f4ff;
  margin: 10px;
  padding-top: 10px;
  padding-bottom:10px;
}

button {
  background: white;
  border: 1px solid #eee;
  display: block;
  padding: 10px;
  margin: 0px auto;
}